{
  "plugins": [
    ["module-resolver", {
      "root": [
        "module-resolver-root",
        "test"
      ],
      "alias": {
        "pam": "alias"
      }
    }],
    ["resolver", {
      "resolveDirs": [
        "resolver-root",
        "test"
      ]
    }]
  ],
  "presets": []
}
